-bclass="bequipement"
include head
.content.equipement
	header#slide
		<img src="http://beaujean.s3-website-us-east-1.amazonaws.com/equip0.jpg">
		<img src="http://beaujean.s3-website-us-east-1.amazonaws.com/equip1.jpg">
		<img src="http://beaujean.s3-website-us-east-1.amazonaws.com/equip2.jpg">
	.left.module
		h2 53' Refrigerated Van
		| Available with:
		ul
			li Tandem Axle <img src="reefer.jpg" style="float:right">
			li Tridem Axle
			li Swing Door
			li Roll-up Door
			li Air-ride suspension
			li Logistic interior

		| Nosemount:
		ul
			li Thermo-King
			li Carrier

	.right.module
		h2 53' Dry Freight Van
		| Available with:
		ul
			li Tandem Axle
			li Tridem Axle
			li Swing Doors
			li Roll-up Door
			li Air-ride suspension
			li Logistic interior (optional)
		h2 City Cartage Van
		h2 Storage Van


include footer