include head
.content.equipement
	header <img src="image001.jpg">
	.left.module
		h2 53' Refrigerated Van
		| Available with:
		ul
			li Tandem Axle <img src="reefer.jpg" style="float:right">
			li Tridem Axle
			li Swing Door
			li Roll-up Door

		| Nosemount:
		ul
			li Thermo-King
			li Carrier

	.right.module
		h2 53' Dry Freight Van
		| Available with:
		ul
			li Tandem Axle
			li Tridem Axle
			li Swing Doors
			li Roll-up Door
		h2 City Cartage Van
		h2 Storage Van


include footer