include head
.content.home
	header <img src="image001.jpg">
	.left.module
		h2 Business
		p
			img(src="dude.jpg",style="float:right")
			| More then 35 year experience.
			| Jean Beaudry is back in truck leasing

	address.right.module
		h2 Contact
		p
			| Fax:		<span>514 640-4442</span>
			<br>Tel:	<span>514 645-7070</span>
			<br>Cell:	<span>514 895-6246</span>
			<br><a href="mailto:jbeaudry@locationbeaujean.com">jbeaudry@locationbeaujean.com</a>
			<br><iframe frameborder="0" scrolling="no" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=12305+Boulevard+M%C3%A9tropolitain+Est,+Montr%C3%A9al,+QC,+Canada&amp;aq=0&amp;oq=12305+boul.+m%C3%A9tropolitain&amp;sll=37.0625,-95.677068&amp;sspn=48.50801,76.728516&amp;ie=UTF8&amp;hq=&amp;hnear=12305+Boulevard+M%C3%A9tropolitain+Est,+Pointe-aux-Trembles,+Qu%C3%A9bec+H1B+5R3,+Canada&amp;ll=45.6518,-73.525581&amp;spn=0.021059,0.037465&amp;t=m&amp;z=14&amp;output=embed"></iframe>
			<br>12305 boul. Métropolitain Est
			<br>Montreal (Quebec) H1B 5R3

include footer