include head
.content.service
	header <img src="image001.jpg">
	.left.module
		h2 Short Term Rental
		|Advantages:
		ul
			li Mobile maintenance unit service 24/7
			li Optimal fleet utilization
			li Fulfills current market demands and fluctuations
			li Flexibility and efficiency, no idle equipment costs
			li New market development
			li Quality certified equipment
		h2 Secure Parking
		ul
			li Up to 150 parking spaces available
		p
			img(src="parking.jpg", style="max-width:90% !important;width:90% !important")
	.right.module
		h2 Long Term Lease
		|Advantages:
		ul
			li Mobile maintenance unit service 24/7
			li Available in both "Full Maintenance" or "Net / Net " Leases
			li Payments are fully tax deductible
			li No cash down
			li Fixed payments over the term of the lease
			li Current specifications and technology
			li Reduced maintenance costs associated with a newer equipment
			li Preventitive maintenance program for "Full Maintenance Leases"
			li Replacement unit
			li Equipment can be designed to your specific requirements
			li Equipment can be decaled with your company logo ( customers responsibility )
			li No risks associated with the residual value of the equipment



include footer